/*BY RETSIS ALEXANDROS*/
*{
    margin:0;
    padding: 0;
    font-family: Century gothic;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
/*    under this different background*/
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../images/jeep.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    position:relative;
    width:1100px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #ea9b67;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    
        
}
.container .card:hover{
    height: 420px;
    
}
    
.container .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    
}
.container .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
/*might remove*/
#text{
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 1;
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #000;
    text-decoration:none;
    transition: 0.6s ease;
     font-family: Century Gothic;
    background-color: #fff;
    
}
.btn:hover{
    background-color: transparent;
    color: #fff;
         font-family: Century Gothic;
    
}
.btn {
    
    margin-bottom: -713px;
    margin-left: 50
}

header{
    height:100vh;
    background-size: cover;
    
}

ul li{
    display: inline-block;
    
}
.btn{
    float:left;
    width:150px;
    height:auto;
    display: flex;
    
    
}