body{
    background: url(../images/elizeu-dias-RN6ts8IZ4_0-unsplash.jpg);
     background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Documents/GAIV-main/images/elizeu-dias-RN6ts8IZ4_0-unsplash.jpg);
                background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    width:450px;
    background: rgba(0,0,0,0.4);
    padding:40px;
    margin:auto;
    margin-top:5%;
    color:blue;
    font-family:sans-serif;
}
h1{
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 4px;
    
    color:blue;
    text-align: center;
}
p{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight:100;
    color: blue;
    text-align: center;
}